In [55]:
import pandas as pd
import numpy as np
import process_files
import seaborn as sns

In [44]:
filename = "./output/test_data2.csv"
df = process_files.import_sim_data(filename)
df

,t,inlet,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,120.00,1.0,0.000000,0.000000,0.000000,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000
4,120.01,1.0,0.573445,0.000000,0.000000,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000
8,120.02,1.0,0.818051,0.008657,0.000000,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000
12,120.03,1.0,0.922388,0.062216,0.000044,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000
16,120.04,1.0,0.966894,0.177925,0.001079,1.483523e-07,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11980,149.95,1.0,1.000000,1.000000,1.000000,1.000000e+00,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.999998,0.999866,0.996758
11984,149.96,1.0,1.000000,1.000000,1.000000,1.000000e+00,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.999998,0.999867,0.996775
11988,149.97,1.0,1.000000,1.000000,1.000000,1.000000e+00,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.999998,0.999868,0.996792
11992,149.98,1.0,1.000000,1.000000,1.000000,1.000000e+00,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.999998,0.999869,0.996808
11996,149.99,1.0,1.000000,1.000000,1.000000,1.000000e+00,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.999998,0.999869,0.996825

In [57]:
df.columns
sections = []
for c in df.columns:
    try:
        sections.append(int(c))
    except:
        continue
sections

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]